<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raissa</title>
    <link rel="stylesheet" href="/css/style3.css">
</head>
<body>
    <header><h1>Conversa com <%= pessoa.nome %>.</h1></header>
    <main>
        <div class="message-container">
            <form id="send-conteiner">
                <input type="text" id="message-input">
                <button type="submit" id="send-button">Enviar</button>
            </form>
        </div>

        <nav>
            <a href="/chat">Back</a>
        </nav>
    </main>
</body>
</html>