<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raissa</title>
    <link rel="stylesheet" href="css/style3.css">
</head>
<body>
    <header><h1>Perfil de <%= user.nome %>.</h1></header>
    <main>
        <section>
            <h2>Conversas:</h2>
        </section>

        <section>
            <h2>Conversar com alguém:</h2>
            <form action="chat/conversa" method="post">
                <section>
                    <label for="searchName">Nome:</label>
                    <input type="text" name="searchName" id="searchName">
                </section>
                <section>
                    <button type="reset">Resetar</button>
                    <button type="submit">Enviar</button>
                </section>
            </form>
        </section>

        <nav>
            <a href="/">Back</a>
        </nav>
    </main>

    <footer>
        <p>Lucas Rocha 2023</p>
    </footer>
</body>
</html>