<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raissa</title>
    <link rel="stylesheet" href="css/style3.css">
</head>
<body>
    <header><h1>Olá <%= user.nome %>.</h1></header>

    <main>
        <div class="message-container">
            <form id="send-conteiner">
                <input type="text" id="message-input">
                <button type="submit" id="send-button">Enviar</button>
            </form>
        </div>

        <nav>
            <a href="/">Back</a>
        </nav>
    </main>

    <footer>
        <p>Lucas Rocha 2023</p>
    </footer>

    <script defer src="http:localhost:3000/socket.io/socket.io.js"></script>
    <script defer src="js/client.js"></script>
</body>
</html>