<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pag.title %></title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body>
    <header>
        <h1>Suporte</h1>
    </header>

    <main>
        <p><%= pag.text %></p>

        <nav>
            <a href="/">Back</a>
        </nav>
    </main>

    <footer>
        <p>Lucas Rocha 2023</p>
    </footer>
</body>
</html>