<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="/css/style2.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body>
    <header><h1>Digite suas credenciais:</h1></header>

    <main>
        <!-- Formulário de autenticação -->
        <form action="/auth/enviar" method="post">
            <section>
                <label for="nome">Nome:</label>
                <input type="text" name="nome" id="nome" placeholder="Insira seu nome" required autofocus>
            </section>
            <section>
                <label for="senha">Senha:</label>
                <input type="password" name="senha" id="senha" placeholder="Insira sua senha" required>
            </section>
            <section>
                <button type="reset">Resetar</button>
                <button type="submit">Enviar</button>
            </section>
        </form>
    
        <!-- Link para voltar -->
        <nav>
            <a href="/">Voltar</a>
        </nav>
    </main>    
    
</body>
</html>